.gradient-border {
  --border-width: 2.6px;

  position: relative;

  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(276, 89%, 70%),
      hsl(163, 93%, 71%),
      hsl(226, 86%, 67%),
      hsl(0, 0%, 100%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(3 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
